
@{
    Layout = null;
}

<h3>MVC KAmp tablo örnegi</h3>
<table>
    <tr>
        <th>Kategor ıd</th>
        <th>Kategori adi</th>
        <th>Kategori acıklama</th>
        <th>Kategori durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>açıklama yaptık</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>spor</td>
        <td>acıklama yapıldı</td>
        <td>true</td>
    </tr>

</table>