
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login </title>
    <link rel="icon" href="/AdminLTE-3.0.4/admin/production/images/pencilicon.png" type="image/ico" />
    <!-- Bootstrap -->
    <link href="/AdminLTE-3.0.4/admin/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/AdminLTE-3.0.4/admin/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/AdminLTE-3.0.4/admin/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="/AdminLTE-3.0.4/admin/vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/AdminLTE-3.0.4/admin/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                    {
                        <form>
                            <div>
                                <h1><i class="fa fa-user"></i>Admin Yönetim</h1>

                            </div>
                            <div>
                                <input type="text" class="form-control" name="AdminUserName" placeholder="KullanıcıAdı" required="" />
                            </div>
                            <div>
                                <input type="password" class="form-control" placeholder="Parola" name="AdminPassword" required="" />
                            </div>
                            <div>
                                <div class="g-recaptcha center" data-sitekey="6LfOMUQfAAAAABh8R9mdFsrPbVan8ruqe8mNs94Q"></div>
                                <span style="color:red InfoText">@TempData["Message"] </span>
                                <br />
                                <br />
                                <button type="submit" class="btn form-control btn-dark rounded submit px-3">Giriş Yap</button>

                                <a class="reset_pass" href="#">Şifremi Unuttum?</a>
                            </div>

                            <div class="clearfix"></div>

                            <div class="separator">
                                <p class="change_link">

                                    <a href="#signup" class="to_register"> Yeni Hesap </a>
                                </p>

                                <div class="clearfix"></div>
                                <br />


                            </div>
                        </form>
                    }
                </section>
            </div>


        </div>
    </div>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</body>
</html>
