
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/AdminLTE-3.0.4/admin/production/images/pencilicon.png" type="image/ico" />

    <title>MVC KAMPI</title>

    <!-- Bootstrap -->
    <link href="/AdminLTE-3.0.4/admin/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/AdminLTE-3.0.4/admin/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/AdminLTE-3.0.4/admin/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/AdminLTE-3.0.4/admin/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="/AdminLTE-3.0.4/admin/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="/AdminLTE-3.0.4/admin/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="/AdminLTE-3.0.4/admin/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/AdminLTE-3.0.4/admin/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-edit"></i> <span>YÖNETİM</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="/AdminLTE-3.0.4/admin/production/images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Hoşgeldin</span>
                            <h2>John Doe</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Genel</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a href="/AdminCategory/Home/"><i class="fa fa-home"></i> Anasayfa </a>

                                </li>
                                <li>
                                    <a href="/WriterPanel/WriterProfile/"><i class="fa fa-user"></i> Profilim </a>

                                </li>
                                <li>
                                    <a><i class="fa fa-edit"></i>Sayfalar<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/WriterPanel/AllHeading/">Tüm Başlıklar</a></li>
                                        <li><a href="/WriterPanel/MyHeading/">Başlıklarım</a></li>
                                        <li><a href="/WriterPanelContent/MyContent/">Yazılarım</a></li>
                                        <li><a href="/Writer/Index/">Yazarlar</a></li>

                                    </ul>
                                </li>



                                <li>
                                    <a href="/Home/SweetAlert/"><i class="fa fa-calendar"></i>Takvim</a>

                                </li>


                            </ul>
                        </div>
                        <div class="menu_section">
                            <h3>Live On</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-inbox"></i> Mesajlar <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/WriterPanelMessage/WriterInbox/">Gelen Kutusu</a></li>
                                        <li><a href="/WriterPanelMessage/SendBox/">Gönderilen Mesajlar</a></li>
                                        <li><a href="#">Taslaklar</a></li>
                                        <li><a href="#">Çöp Kutusu</a></li>

                                    </ul>
                                </li>

                                <li>
                                    <a href="/Default/Headings/"><i class="fa fa-sitemap"></i> Siteye Git</a>

                                </li>
                                <li>
                                    <a href="/Login/WriterLogin/"><i class="fa fa-sign-out pull-left"></i> Çıkış Yap</a>

                                </li>

                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="/Login/LogOut/">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->

            @{Html.RenderAction("HomeNotification", "Home");}
            <!-- /top navigation -->
            <!-- page content -->
            @RenderBody()
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="/AdminLTE-3.0.4/admin/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/AdminLTE-3.0.4/admin/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="/AdminLTE-3.0.4/admin/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/AdminLTE-3.0.4/admin/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="/AdminLTE-3.0.4/admin/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="/AdminLTE-3.0.4/admin/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/AdminLTE-3.0.4/admin/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="/AdminLTE-3.0.4/admin/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="/AdminLTE-3.0.4/admin/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="/AdminLTE-3.0.4/admin/vendors/Flot/jquery.flot.js"></script>
    <script src="/AdminLTE-3.0.4/admin/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="/AdminLTE-3.0.4/admin/vendors/Flot/jquery.flot.time.js"></script>
    <script src="/AdminLTE-3.0.4/admin/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="/AdminLTE-3.0.4/admin/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/AdminLTE-3.0.4/admin/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/AdminLTE-3.0.4/admin/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/AdminLTE-3.0.4/admin/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="/AdminLTE-3.0.4/admin/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="/AdminLTE-3.0.4/admin/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/AdminLTE-3.0.4/admin/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/AdminLTE-3.0.4/admin/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/AdminLTE-3.0.4/admin/vendors/moment/min/moment.min.js"></script>
    <script src="/AdminLTE-3.0.4/admin/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/AdminLTE-3.0.4/admin/build/js/custom.min.js"></script>

</body>
</html>
