@using EntittyLayer.Concrete
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Writer>
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<body class="nav-md">
    <div class="container body">
        <div class="main_container">

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">

                    <div class="clearfix"></div>
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">

                                </div>
                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-sm-right">
                                        <li class="breadcrumb-item"><a href="/AdminCategory/Home/">Home</a></li>
                                        <li class="breadcrumb-item active">Yazarlar</li>
                                    </ol>
                                </div>
                            </div>
                        </div><!-- /.container-fluid -->
                    </section>
                    <div class="row">
                        <div class="x_panel">
                            <div class="x_content">
                                <div class="col-md-12 col-sm-12  text-center">
                                    <ul class="pagination pagination-split">
                                        <li><a href="#">A</a></li>
                                        <li><a href="#">B</a></li>
                                        <li><a href="#">C</a></li>
                                        <li><a href="#">D</a></li>
                                        <li><a href="#">E</a></li>
                                        <li>...</li>
                                        <li><a href="#">W</a></li>
                                        <li><a href="#">X</a></li>
                                        <li><a href="#">Y</a></li>
                                        <li><a href="#">Z</a></li>
                                    </ul>
                                </div>

                                <div class="clearfix"></div>
                                @foreach (var item in Model)
                                {
                                    <div class="col-md-4 col-sm-4  profile_details">
                                        <div class="well profile_view">

                                            <div class="col-sm-12">

                                                <div class="left col-md-7 col-sm-7">
                                                    <h2>@item.WriterName @item.WriterSurname</h2>
                                                    <p><strong>Hakkında: </strong> @item.WriterAbout. </p>
                                                    <ul class="list-unstyled">
                                                        <li><i class="fa fa-building"></i> Address: </li>
                                                        <li><i class="fa fa-phone"></i> Phone #: </li>
                                                    </ul>
                                                </div>
                                                <div class="right col-md-5 col-sm-5 text-center">
                                                    <img src="/AdminLTE-3.0.4/admin/production/images/img.jpg" alt="" class="img-circle img-fluid">
                                                </div>
                                            </div>
                                            <div class=" profile-bottom text-center">
                                                <div class=" col-sm-6 emphasis">
                                                    <p class="ratings">
                                                        <a>4.0</a>
                                                        <a href="#"><span class="fa fa-star"></span></a>
                                                        <a href="#"><span class="fa fa-star"></span></a>
                                                        <a href="#"><span class="fa fa-star"></span></a>
                                                        <a href="#"><span class="fa fa-star"></span></a>
                                                        <a href="#"><span class="fa fa-star-o"></span></a>
                                                    </p>
                                                </div>
                                                <div class=" col-sm-6 emphasis">
                                                    <a href="#" class="btn btn-sm btn-warning">
                                                        Yazarın Başlıkları
                                                    </a>
                                                    <a href="/Writer/EditWriter/@item.WriterID" class="btn btn-sm btn-primary">
                                                        Profili Düzenle
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                }
                            </div>

                        </div>
                    </div>
                </div>
                @Html.PagedListPager((IPagedList)Model , p=>Url.Action("Index", new { p}),new PagedListRenderOptions
{
LiElementClasses=new List<string>
{ "page-link"}
})            
                <a href="/Writer/AddWriter/" class="btn btn-outline-primary">Yazar Ekle</a>
            </div>

            <!-- /page content -->
            <!-- footer content -->

        </div>
    </div>


</body>
