@model EntittyLayer.Concrete.Content
@{
    ViewBag.Title = "AddContent";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<br />
<div class="right_col" role="main">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">

                                </div>
                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-sm-right">
                                        <li class="breadcrumb-item"><a href="/AdminCategory/Home/">Home</a></li>
                                        <li class="breadcrumb-item active">Profili Düzenle</li>
                                    </ol>
                                </div>
                            </div>
                        </div><!-- /.container-fluid -->
                    </section>

                    @using (Html.BeginForm("AddContent", "WriterPanelContent", FormMethod.Post))
                    {
                        <div class="form-group">

                            <input type="hidden" name="HeadingID" value="@ViewBag.d" />
                            @Html.Label("İçeriğinizi Yazınız")
                            @Html.TextAreaFor(x => x.ContentValue, 10, 30, new { @class = "form-control" })


                            @Html.ValidationMessageFor(x => x.ContentValue, "", new { @style = "color:red" })






                            <br /> <br />

                            <br />
                            <button class="btn btn-success">Oluştur</button>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
