@using EntittyLayer.Concrete
@model List<Content>
@{
    ViewBag.Title = "GetAllContent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="right_col" role="main">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">

                                </div>
                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-sm-right">
                                        <li class="breadcrumb-item"><a href="/AdminCategory/Home/">Home</a></li>
                                        <li class="breadcrumb-item active">İçerikler</li>
                                    </ol>
                                </div>
                            </div>
                        </div><!-- /.container-fluid -->
                    </section>
                    @using (Html.BeginForm("GetAllContent", "Content", FormMethod.Post))
                    {
                        <br />
                        <p>
                            Aranacak Kelimeyi giriniz:@Html.TextBox("p")
                            <input type="submit" value="Ara" class="btn-secondary" />
                        </p>
                    }
                    <hr />

                    @foreach (var item in Model)
                    {
                        <p>@item.ContentValue</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>