<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="widget">
                    <div class="footer-text text-center">
                        <a href="index.html"><img src="~/AdminLTE-3.0.4/foresttime/forest-time/images/version/logo.png" alt="" class="img-fluid"></a>
                        <p>---Bilgi paylaştıkça çoğalır---</p>
                        <div class="social">
                            <a href="https://www.linkedin.com/in/k%C3%BCbra-ko%C3%A7yi%C4%9Fit-708286189/" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                            <a href="https://twitter.com/kbrkocygt" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.instagram.com/kubraninyazilimgunluguu/" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                            <a href="https://tr.pinterest.com/kcygtkbra/" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                        </div>
                        <hr class="invis">
                        <!-- end newsletter -->
                    </div><!-- end footer-text -->
                </div><!-- end widget -->
            </div><!-- end col -->
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <br>
                <br>
                <div class="copyright">&copy;2022 All Right Reserved.Kübra Koçyiğit</div>
            </div>
        </div>
    </div><!-- end container -->
</footer><!-- end footer -->
<div class="dmtop">Scroll to Top</div>
