
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout/BlogHome.cshtml";
} <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d385398.589857371!2d28.731989089870666!3d41.004982273922366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa7040068086b%3A0xe1ccfe98bc01b0d0!2zxLBzdGFuYnVs!5e0!3m2!1str!2str!4v1649429754994!5m2!1str!2str" width="1600" height="450" style="border:0; margin-left:50px; margin-right:50px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="page-wrapper">
                    <div class="address row mt-lg-5">

                        <div class="col-md-4 address-grid" data-aos="flip-up">
                            <div class="address-info">
                                <div class="address-left text-center">
                                    <i class="far fa-map-o"></i>
                                </div>
                                <div class="address-right text-center">
                                    <h6 class="my-3">Adres</h6>
                                    <p>
                                        İstanbul ,Türkiye

                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4 address-grid" data-aos="flip-up">
                            <div class="address-info">
                                <div class="address-left text-center">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="address-right text-center">
                                    <h6 class="my-3">Mail</h6>
                                    <p>
                                        Email :
                                        <a href="mailto:deneme@email.com"> mail@example.com</a>

                                    </p>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4 address-grid" data-aos="flip-up">
                            <div class="address-info">
                                <div class="address-left text-center">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="address-right text-center">
                                    <h6 class="my-3">Telefon</h6>
                                    <p>+90 234 567 8901</p>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <form class="form-wrapper">
                                <input type="text" class="form-control" placeholder="Adınız">
                                <input type="text" class="form-control" placeholder="Email adresiniz">
                                <input type="text" class="form-control" placeholder="Telefon">
                                <input type="text" class="form-control" placeholder="Konu">
                                <textarea class="form-control" placeholder="Mesajınız"></textarea>
                                <button type="submit" class="btn btn-primary">Gönder<i class="fa fa-envelope-open-o"></i></button>
                            </form>
                        </div>
                    </div>
                </div><!-- end page-wrapper -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>

